.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  margin-bottom: 25px;
}

button {
  border: none;
  background-color: transparent;
}
