#error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
}

#error-container > h1 {
  color: var(--mat-sys-error-container)
}

#error-container > button {
  width: 40%;
}

a {
  text-decoration: none;
  color: var(--mat-sys-on-primary-container)
}
